*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #693054;
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #A278AD;
}
#ptop{
    padding: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #8B5084;
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box{
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 5px;
    font-weight: 700;
    font-size: 25px;
    color: black;
}
#pbtm{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100%-100px);
    align-items: center;
    justify-content: center;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #83dd98;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
}

.bubble:hover{
    background-color: #499b70;
    cursor: pointer;
}






















